{% extends 'base.html' %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/application/home">Home</a>
      <a class="nav-item nav-link active" href="/application/actors_ui">Actors<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/application/directors_ui">Directors</a>
      <a class="nav-item nav-link" href="/application/genres_ui">Genres</a>
      <a class="nav-item nav-link" href="/application/keywords_ui">Keywords</a>
      <a class="nav-item nav-link" href="/application/movies_ui">Movies</a>
      <a class="nav-item nav-link" href="/application/screenwriters_ui">Screenwriters</a>
      <a class="nav-item nav-link" href="/application/imdbscoreprediction_ui">IMDB Score Prediction</a>
    </div>
  </div>
</nav>
<br> </br>
<center>
  <h1> Actors </h1>
  <pr> Press button below to get the list of actors.
  <br> </br>
  <form action="/application/actors_ui" method="post">
    <div class="row justify-content-center">
      <div class="col-4">

        <label for="actor-name">Actor Name:</label>
        <input class="form-control" type='text' name='name' id="actor-name" placeholder="Enter actor name"> 
      </div>
    </div>
    <br/>
    <br/>
    <div class="row justify-content-center">
      <div class="col-4">
        Gender : 
        <select class="custom-select" name="gender">
          <option default value="">Select gender</option>
          <option value="M">M</option>
          <option value="F">F</option>
          <option value="O">O</option>
        </select>
      </div>
    </div>
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary">Get Actors</button>
  </form>
</center>
  
  <br/>
  {% if actors_dict is defined %}
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <p><b>Total Number of Actors: </b>{{actors_dict['total_results']}}</p>
      <div class="row">
          <div class="col">
            {% if actors_dict['prev'] is defined and actors_dict['next'] is defined %}
            <div class="row justify-content-center">
                <div class="col-4">
            
                <form action="/application/actors_ui" method="post">
                  <input type='hidden' name='url' value="{{actors_dict['prev']['href']}}" >
                  {% if actors_dict['prev']['href'] == None %}
                    <button type="submit" class="btn btn-primary" disabled>Previous</button>
                  {% else %}
                    <button type="submit" class="btn btn-primary">Previous</button>
                  {% endif %}
                </form>
              </div>
              <div class="col-4">
                  <form action="/application/actors_ui" method="post">
                    <input type='hidden' name='url' value="{{actors_dict['next']['href']}}" >
                    {% if actors_dict['next']['href'] == None %}
                    <button type="submit" class="btn btn-primary" disabled>Next</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Next</button>
                    {% endif %}
                  </form>  
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <br/>
        <ul class="list-group">
          {% for key in actors_dict['actors'] %}
            <li class="list-group-item">
              <p><b class="text-center">
                {{actors_dict['actors'][key]['actor_name']}}
              </b></p>
              <small>likes : {{actors_dict['actors'][key]['facebook_likes']}}</small>
              <small>gender : {{actors_dict['actors'][key]['gender']}}</small>
            </li>  
           
       
           {% endfor %}
           {% for key in actors_dict['actor'] %}
           <li class="list-group-item">
              <p><b class="text-center">
                {{actors_dict['actor'][key]['actor_name']}}
              </b></p>
              <small>likes : {{actors_dict['actor'][key]['facebook_likes']}}</small>
              <small>gender : {{actors_dict['actor'][key]['gender']}}</small>
            </li>
            {% endfor %}
        </ul>
  
    </div>
  </div>
{% endif %}

<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
