<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>COMP9321 Assignment 2</title>
    <meta name="description" content="Movie IMDB Score Prediction">
    <meta name="author" content="We Be Data SERVING">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                {% block body %}
                
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
