{% extends 'base.html' %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/application/home">Home</a>
      <a class="nav-item nav-link" href="/application/actors_ui">Actors</a>
      <a class="nav-item nav-link active" href="/application/directors_ui">Directors<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/application/genres_ui">Genres</a>
      <a class="nav-item nav-link" href="/application/keywords_ui">Keywords</a>
      <a class="nav-item nav-link" href="/application/movies_ui">Movies</a>
      <a class="nav-item nav-link" href="/application/screenwriters_ui">Screenwriters</a>
      <a class="nav-item nav-link" href="/application/imdbscoreprediction_ui">IMDB Score Prediction</a>
    </div>
  </div>
</nav>
<br> </br>
<center>
  <h1> Directors </h1>
  <pr> Press button below to get the list of directors.
  <br> </br>
  <div class="row justify-content-center">
    <div class="col-4">
        <form action="/application/directors_ui" method="post">
          <label for ="director_name">Director Name :</label>
          <input class="form-control" type='text' name='name' id="director_name" placeholder="Enter director name"> 
          <br/>
          <button type="submit" class="btn btn-primary">Get Directors</button>
        </form>
    </div>
  </div>
  
</center>
  
  <br/>
  {% if directors_dict is defined %}
  <!-- {{directors_dict}} -->
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <p><b>Total Number of Directors: </b>{{directors_dict['total_results']}}</p>
      <div class="row">
          <div class="col">
            {% if directors_dict['prev'] is defined and directors_dict['next'] is defined %}
            <div class="row justify-content-center">
              <div class="col-4">
                <form action="/application/directors_ui" method="post">
                  <input type='hidden' name='url' value="{{directors_dict['prev']['href']}}" >
                  {% if directors_dict['prev']['href'] == None %}
                  <button type="submit" class="btn btn-primary" disabled>Previous</button>
                  {% else %}
                  <button type="submit" class="btn btn-primary">Previous</button>
                  {% endif %}
                </form>
              </div>
              <div class="col-4">   
                <form action="/application/directors_ui" method="post">
                  <input type='hidden' name='url' value="{{directors_dict['next']['href']}}" >
                  {% if directors_dict['next']['href'] == None %}
                  <button type="submit" class="btn btn-primary" disabled>Next</button>
                  {% else %}
                  <button type="submit" class="btn btn-primary">Next</button>
                  {% endif %}
                </form>
              </div>

            </div>
            {% endif %}
          </div>
        </div>
        <br />
        <ul class="list-group">
          {% for key in directors_dict['directors'] %}
          <li class="list-group-item">
            <p><b class="text-center">
              {{directors_dict['directors'][key]['director_name']}}
            </b></p>
            <small>likes : {{directors_dict['directors'][key]['facebook_likes']}}</small>
          </li>
          {% endfor %}
          {% for key in directors_dict['director'] %}
          <li class="list-group-item">
            <p><b class="text-center">
              {{directors_dict['director'][key]['director_name']}}
            </b></p>
            <small>likes : {{directors_dict['director'][key]['facebook_likes']}}</small>
          </li>
        {% endfor %}
        </ul>
  
    </div>
  </div>
  
  {% endif %}
  
{% endblock %}
