{% extends 'base.html' %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="home">Home</a>
      <a class="nav-item nav-link" href="actors_ui">Actors</a>
      <a class="nav-item nav-link active" href="directors_ui">Directors<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="genres_ui">Genres</a>
      <a class="nav-item nav-link" href="keywords_ui">Keywords</a>
      <a class="nav-item nav-link" href="movies_ui">Movies</a>
      <a class="nav-item nav-link" href="screenwriters_ui">Screenwriters</a>
      <a class="nav-item nav-link" href="imdbscoreprediction_ui">IMDB Score Prediction</a>
    </div>
  </div>
</nav>
<br> </br>
<center>
  <h1> Directors </h1>

</center>
{% endblock %}
