{% extends 'base.html' %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/application/home">Home</a>
      <a class="nav-item nav-link" href="/application/actors_ui">Actors</a>
      <a class="nav-item nav-link" href="/application/directors_ui">Directors</a>
      <a class="nav-item nav-link active" href="/application/genres_ui">Genres<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/application/keywords_ui">Keywords</a>
      <a class="nav-item nav-link" href="/application/movies_ui">Movies</a>
      <a class="nav-item nav-link" href="/application/screenwriters_ui">Screenwriters</a>
      <a class="nav-item nav-link" href="/application/imdbscoreprediction_ui">IMDB Score Prediction</a>
      <a class="nav-item nav-link" href="/application/login_ui">Login</a>
      <a class="nav-item nav-link" href="/application/register_ui">Register</a>
    </div>
  </div>
</nav>
<br> </br>

<center>
  <h1> Genres </h1>

  <pr> Press button below to get the list of genres.
  <br> </br>
  <form action="/application/genres_ui" method="post">
  <button type="submit" class="btn btn-primary">Get Genres</button>
  </form>
</center>

<br/>
{% if genres_dict is defined %}
<div class="row justify-content-center">
  <div class="col-sm-6 col-md-5 col-lg-4 col-xl-4 text-center">
      <ul class="list-group">
        {% for gen in genres_dict['genres'] %}
        <li class="list-group-item">{{genres_dict['genres'][gen]['genres']}}</li>  
        {% endfor %}
      </ul>

  </div>
</div>
{% endif %}
<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}
