{% extends 'base.html' %}
<br> </br>
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/application/home">Home</a>
      <a class="nav-item nav-link" href="/application/actors_ui">Actors</a>
      <a class="nav-item nav-link" href="/application/directors_ui">Directors</a>
      <a class="nav-item nav-link" href="/application/genres_ui">Genres</a>
      <a class="nav-item nav-link" href="/application/keywords_ui">Keywords</a>
      <a class="nav-item nav-link" href="/application/movies_ui">Movies</a>
      <a class="nav-item nav-link" href="/application/screenwriters_ui">Screenwriters</a>
      <a class="nav-item nav-link active" href="/application/imdbscoreprediction_ui">IMDB Score Prediction<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<br> </br>
<center>
  <h1>IMDB Score Prediction</h1>
</center>
<br> </br>


<form action="/application/imdbscoreprediction_ui" method="post">

    <div class="form-group">
        <label for="Director">Director</label>
        <select name="director_name" class="form-control">
            <option value=""></option>
          {% for dir in directors %}
           <option value="{{dir}}">{{dir}}</option>
          {% endfor %}
        </select>
        <small id="directorHelp" class="form-text text-muted">Please select the director of your film</small>
        </div>

  <div class="form-group">
  <label for="Actor1">Actor1</label>
  <select name="actor_1_name" class="form-control">
      <option value=""></option>
    {% for dir in actors[1:] %}
     <option value="{{dir}}">{{dir}}</option>
    {% endfor %}
  </select>
  <small id="actor1Help" class="form-text text-muted">Please select an actor for your film</small>
  </div>
  <div class="form-group">
  <label for="Actor2">Actor2</label>
  <select name="actor_2_name" class="form-control">
      <option value=""></option>
    {% for dir in actors[1:] %}
     <option value="{{dir}}">{{dir}}</option>
    {% endfor %}
  </select>
  <small id="actor2Help" class="form-text text-muted">Please select an actor for your film</small>
  </div>
  <div class="form-group">
  <label for="Actor3">Actor3</label>
  <select name="actor_3_name" class="form-control">
      <option value=""></option>
    {% for dir in actors[1:] %}
     <option value="{{dir}}">{{dir}}</option>
    {% endfor %}
  </select>
  <small id="actor3Help" class="form-text text-muted">Please select an actor for your film</small>
  </div>

 <div class="form-group">
  <label for="budget">Budget</label>
  <input type="number" name="budget" class="form-control" id="exampleInputEmail1" aria-describedby="budgetHelp">
  <small id="budgetHelp" class="form-text text-muted">Please enter the budget of your film</small>
</div>

  <center>
  <button type="submit" class="btn btn-primary">Predict Score</button>
  </center>
</form>

<h1>PREDICTED SCORE {{score['movie_prediction_score']}}</h1>

{% endblock %}
