{% extends 'base.html' %}
<br> </br>
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/application/home">Home</a>
      <a class="nav-item nav-link" href="/application/actors_ui">Actors</a>
      <a class="nav-item nav-link" href="/application/directors_ui">Directors</a>
      <a class="nav-item nav-link" href="/application/genres_ui">Genres</a>
      <a class="nav-item nav-link" href="/application/keywords_ui">Keywords</a>
      <a class="nav-item nav-link" href="/application/movies_ui">Movies</a>
      <a class="nav-item nav-link" href="/application/screenwriters_ui">Screenwriters</a>
      <a class="nav-item nav-link active" href="/application/imdbscoreprediction_ui">IMDB Score Prediction<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<br> </br>
<center>
  <h1>IMDB Score Prediction</h1>
  <div class="row justify-content-center">
    <div class="col-4">
      <form action="/application/imdbscoreprediction_ui" method="post">
        <div class="form-group">
          <label for="Director">Director <span style="color: red">*</span> : </label>
          <select name="director_name" class="custom-select" required>
            <option default value="">Select director</option>
            {% for dir in directors %}
            <option value="{{dir}}">{{dir}}</option>
            {% endfor %}
          </select>
          <small id="directorHelp" class="form-text text-muted">Please select the director of your film</small>
        </div>
        <div class="form-group">
          <label for="actor_1_name">First Actor Name <span style="color: red">*</span> : </label>
          <select name="actor_1_name" class="custom-select" required>
            <option default value="">Select first actor </option>
            {% for dir in actors[1:] %}
            <option value="{{dir}}">{{dir}}</option>
            {% endfor %}
          </select>
          <small id="actor1Help" class="form-text text-muted">Please select the first actor for your film</small>
        </div>
        <div class="form-group">
          <label for="actor_2_name">Second Actor Name : </label>
          <select name="actor_2_name" class="custom-select">
              <option default value="">Select second actor </option>
            {% for dir in actors[1:] %}
            <option value="{{dir}}">{{dir}}</option>
            {% endfor %}
          </select>
          <small id="actor2Help" class="form-text text-muted">Please select the second actor for your film (optional)</small>
        </div>
        <div class="form-group">
          <label for="actor_3_name">Third Actor Name : </label>
          <select name="actor_3_name" class="custom-select">
              <option default value="">Select third actor</option>
            {% for dir in actors[1:] %}
            <option value="{{dir}}">{{dir}}</option>
            {% endfor %}
          </select>
          <small id="actor3Help" class="form-text text-muted">Please select the third actor for your film (optional)</small>
        </div>
      
       <div class="form-group">
        <label for="budget">Budget <span style="color: red">*</span> : </label>
        <input type="number" name="budget" class="form-control" min=0 placeholder="Enter budget" required>
        <small id="budgetHelp" class="form-text text-muted">Please enter the budget of your film</small>
      </div>
      
      <button type="submit" class="btn btn-primary">Predict IMDB Score</button>
    </form>
  </div>
</div>
</center>
<br/>
<br/>
<br/>

{% if score is defined %}
<div class="row justify-content-center">
  <div class="col-6 text-center">
    <div class="card">
      <div class="card-header">Prediction Information</div>
      <div class="card-body">
        <p><b>For a movie directed by: </b>{{ input_director }}</p>
        <p><b>Starring: </b>{{ input_actors }}</p>
        <p><b>With a film budget of: </b>${{ input_budget }}</p>
        <p><b>The predicted IMDB movie score is ... </b>{{score['movie_prediction_score']}} / 10</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
