{% extends "base.html" %}

{% block body %}
<center>
  <h1>Movie IMDB Score Predictor</h1>
</center>

<div class="form-group">
<label for="Director">Director</label>
<select class="form-control">
  {% for dir in directors[1:] %}
   <option>{{dir}}</option>
  {% endfor %}
</select>
<small id="directorHelp" class="form-text text-muted">Please select the director of your film</small>
</div>

<form>
  <div class="form-group">
    <label for="Genre">Genre</label>
    <select class="form-control">
      {% for gen in genres[1:] %}
       <option>{{gen}}</option>
      {% endfor %}
    </select>
    <small id="genreHelp" class="form-text text-muted">Please select the genre of your film</small>
</div>

  <div class="form-group">
   <label for="Actors">Actors</label>
   <select multiple class="form-control" id="exampleFormControlSelect2">
     {% for actor in actors[1:] %}
      <option>{{actor}}</option>
     {% endfor %}
   </select>
   <small id="actorsHelp" class="form-text text-muted">Please select the actors in your film</small>
 </div>

 <div class="form-group">
  <label for="budget">Budget</label>
  <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="budgetHelp">
  <small id="budgetHelp" class="form-text text-muted">Please enter the budget of your film</small>
</div>

  <center>
  <button type="submit" class="btn btn-primary">Predict Score</button>
  </center>
</form>

{% endblock %}
