{% extends 'base.html' %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/application/home">Home</a>
      <a class="nav-item nav-link" href="/application/actors_ui">Actors</a>
      <a class="nav-item nav-link" href="/application/directors_ui">Directors</a>
      <a class="nav-item nav-link" href="/application/genres_ui">Genres</a>
      <a class="nav-item nav-link active" href="/application/keywords_ui">Keywords<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/application/movies_ui">Movies</a>
      <a class="nav-item nav-link" href="/application/screenwriters_ui">Screenwriters</a>
      <a class="nav-item nav-link" href="/application/imdbscoreprediction_ui">IMDB Score Prediction</a>
    </div>
  </div>
</nav>
<br> </br>
<center>
  <h1> Keywords </h1>

  <pr> Press button below to get the list of keywords.
  <br> </br>
  <form action="/application/keywords_ui" method="post">
  <button type="submit" class="btn btn-primary">Get Keywords</button>
  </form>
</center>

<br/>
{% if keywords_dict is defined %}
<div class="row justify-content-center">
  <div class="col-4 text-center">
    <p><b>Total Number of Keywords: </b>{{keywords_dict['total_results']}}</p>
    <div class="row">
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-4">

              {% if keywords_dict['prev'] is defined and keywords_dict['next'] is defined %}
               {%if keywords_dict['prev']['href'] != None%}
                
                  
                    <form action="/application/keywords_ui" method="post">
                      <input type='hidden' name='url' value="{{keywords_dict['prev']['href']}}" >
                      <button type="submit" class="btn btn-primary">Previous</button>
                    </form>
                  
                  {% endif %}
            </div>
            <div class="col-4">
              {%if keywords_dict['next']['href'] != None%}
            
                <form action="/application/keywords_ui" method="post">
                  <input type='hidden' name='url' value="{{keywords_dict['next']['href']}}" >
                  <button type="submit" class="btn btn-primary">Next</button>
                </form>              
            
            {% endif %}
  
            {% endif %}

            </div>
    
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
<br />
<div class="row justify-content-center">
    <div class="col-4 text-center">

      <ul class="list-group">
        {% for key in keywords_dict['keywords'] %}
        <li class="list-group-item">{{keywords_dict['keywords'][key]['keywords']}}</li>  
        {% endfor %}
        {% for key in keywords_dict['keyword'] %}
        <li class="list-group-item">{{keywords_dict['keyword'][key]['keywords']}}</li>  
        {% endfor %}
      </ul>
    </div>
  </div>

{% endif %}

<!-- {{ keywords_dict }} -->

{% endblock %}
