{% extends 'base.html' %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/application/home">Home</a>
      <a class="nav-item nav-link" href="/application/actors_ui">Actors</a>
      <a class="nav-item nav-link" href="/application/directors_ui">Directors</a>
      <a class="nav-item nav-link" href="/application/genres_ui">Genres</a>
      <a class="nav-item nav-link" href="/application/keywords_ui">Keywords</a>
      <a class="nav-item nav-link" href="/application/movies_ui">Movies</a>
      <a class="nav-item nav-link active" href="/application/screenwriters_ui">Screenwriters<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/application/imdbscoreprediction_ui">IMDB Score Prediction</a>
    </div>
  </div>
</nav>
<br> </br>
<center>
  <h1> Screenwriters </h1>
  <pr> Press button below to get the list of screenwriters.
  <br> </br>
  <div class="row justify-content-center">
    <div class="col-4">
      <form action="/application/screenwriters_ui" method="post">
        <label for="screenwriter_name">Screenwriter Name :</label>
        <input class="form-control" type='text' name='name' id="screenwriter_name" placeholder="Enter screenwriter name"> 
        <br />
        <button type="submit" class="btn btn-primary">Get Screenwriters</button>
      </form>

    </div>
  </div>
</center>
  
  <br/>
  {% if screenwriters_dict is defined %}
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <p><b>Total Number of Screenwriters: </b>{{screenwriters_dict['total_results']}}</p>
      <div class="row">
          <div class="col">
            {% if screenwriters_dict['prev'] is defined and screenwriters_dict['next'] is defined %}
            <div class="row justify-content-center">
              <div class="col-4">
                <form action="/application/screenwriters_ui" method="post">
                  <input type='hidden' name='url' value="{{screenwriters_dict['prev']['href']}}" >
                  {% if screenwriters_dict['prev']['href'] == None %}
                  <button type="submit" class="btn btn-primary" disabled>Previous</button>
                  {% else %}
                  <button type="submit" class="btn btn-primary">Previous</button>
                  {% endif %}
                </form>
              </div>
              <div class="col-4">
                <form action="/application/screenwriters_ui" method="post">
                  <input type='hidden' name='url' value="{{screenwriters_dict['next']['href']}}" >
                  {% if screenwriters_dict['next']['href'] == None %}
                  <button type="submit" class="btn btn-primary" disabled>Next</button>
                  {% else %}
                  <button type="submit" class="btn btn-primary">Next</button>
                  {% endif %}
                </form>              
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <br />
        <ul class="list-group">
          {% for key in screenwriters_dict['writers'] %}
          <li class="list-group-item">{{screenwriters_dict['writers'][key]['writer_name']}}</li>  
          {% endfor %}
          {% for key in screenwriters_dict['writer'] %}
          <li class="list-group-item">{{screenwriters_dict['writer'][key]['writer_name']}}</li>  
          {% endfor %}
        </ul>
  
    </div>
  </div>
  
  {% endif %}
{% endblock %}
